<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alipay.shop.repo.mapper.ProductItemMapper">
    <resultMap id="BaseResultMap" type="com.alipay.shop.model.ProductItem">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pid" property="pid"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        pid
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from product_item;
    </select>

    <delete id="delItemsByIds" parameterType="java.util.List" >
        delete
        from product_item where 1>2 or id not in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>